* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

header {
  height: 100px;
  width: 100%;
  border-bottom: .5px solid lightgray;
  background-color: white;
}


/* ====================
header LOGO and ACCOUNT
==================== */
.section1 {
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding: 0 .85rem;
  align-items: flex-end;
}

.logo {
  width: 250px;
}

.account {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80px;
}

.profile {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

i {
  font-size: 1.6rem;
  color: #5F6368;
  cursor: pointer;
}

img {
  width: 100%;
}

/* ====================
    header NAV LINKS
==================== */
.section2 {
  height: 50px;
  border-bottom: 1px solid rgba(151,151,151,.5);
  box-sizing: border-box;
  padding: 0 0 0 20px;
  width: 100%;
  display: flex;
  align-items: center;
}

.navbar {
  height: 100%;
  display: flex;
  align-items: center;
  list-style: none;
}

li {
  display: flex;
  align-items: center;
  font-size: 0.9375rem;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.43;
  margin: 0 42px 0 0;
  height: 100%;
}

li a {
  color: #5f6368;
}

li:nth-child(5) {
  color:#3367D6;
  border-bottom: 3px solid #3367D6;
  border-radius: 2px;
}

li:nth-child(5) > a {
  color:#3367D6;
}





/* ====================
        MAIN
==================== */
main {
  padding: 1rem 200px;
  margin: 100px auto;
}

h2 {
  font-weight: 500;
  color: #3C4043;
  padding: 64px 0 0;
  line-height: 32px;
}


p {
  color: #000000;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  margin: 5px 0;
  padding: 20px 0 0;
}

p:nth-child(3) {
  margin: 0px 0px 10px;
}

a {
  color: #3367D6;
  text-decoration: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
